*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    background-color: rgb(84, 110, 110);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}
.nav{
    padding-left: 10%;
}
.cabeçalho{
    width: 100%;
    height: 100%;
    text-align: center;
    border-top: 50px;
    align-items: center;
    height: 88%;
    flex-basis: 55%;
}
.beh{
    background-color: black;
    color: aliceblue;
}
.hah{
    padding-top: 50px;
    padding-bottom: 50px;
}
.heh{
    padding-left: 40%;
    font-size: 25px;
}
.listas{
    border-top: 100%;
    text-align: center;
}
li{
    font-weight: bold;
}
table.total{
    border-collapse: collapse;
    background-color: beige;
}
table.total td{
    border: 1px solid black;
}
table.total th{
    border: 1px solid black;
    background-color: bisque;
}